h1 {
    text-align: center;
}

/* Navigation bar Parent*/
.topnav {
    max-width: 1400px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

/* Child of navigation bar */
.navbar {
    border-style: solid;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 33%;

}

nav.navbar {
    text-align: center;
}

/* Header Parent */
/* Make this a full page image that scrolls down */
.header {
    height: 400px;
    max-width: 700px;
    margin: 40px auto 40px auto;
    background-color: #2A2A2A;
    display: flex;
}

/* Child of header */
.center-header {
    color: #fff;
    font-size: 50px;
    margin: auto;
}

/* Parent main wrap */
.main-wrap {
    max-width: 1300px;
    background-color: #FFF;
    line-height: 1.65;
    display: flex;
}

/* Children of main wrap */
.main-content {
    flex: 3;
    order: 2;
}

.left-sidebar {
    margin: 20px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    flex: 1;
    order: 1;
}

.right-sidebar {
    margin: 20px;
    padding: 10px;
    border-style: solid;
    text-align: center;
    flex: 1;
    order: 3;
}

/* Parent feature wrap */
.feature-wrap {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

/* Children of feature wrap */
.feature {
    border-style: solid;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
}



/* photo wrapper */
.photo-container {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
}

/* Media Queries */

@media (min-width: 900px) {
    .feature-wrap {
        display: flex;
        justify-content: space-between;
    }
}