body {

}

h1 {
    text-align: center;
}

.wrapper {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.main-content {
    flex: 3;
}

.left-sidebar {
    flex: 1;
}

.right-sidebar {
    flex: 1;
}